# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.output
.nuxt
dist
.nitro
.cache

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
.env.production

# Testing
coverage
*.lcov

# TypeScript
*.tsbuildinfo

# Misc
*.pem
.vercel
.netlify
